# Dependencies
node_modules/

# Build
dist/

# Generated
generated/

# Environment
.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage
coverage/

# Prisma
prisma/migrations/
